%html(lang="en-US")
  %body
    %header
      %h1 MyFlix Account Deactivated
    %section.content.clearfix
      %p Hi #{@user.full_name}
      
      %p 
        You most recent credit card billing failed.
        Your account has been deactivated.  Please contact support to resolve this issue.
      
    %footer
      &copy 2014 MyFLiX
