%html(lang="en-US")
  %body
    %header
      %h1 MyFlix Password Reset
    %section.content.clearfix
      %p Hi #{@user.full_name}
      
      %p 
        Please go to the following link to set a new password for your MyFlix Account.
        %a{href: url_for(controller: 'forgot_passwords', action: 'edit', only_path: false, id: @user.password_reset_token)} Reset Password

    %footer
      &copy 2014 MyFLiX
