%html(lang="en-US")
  %body
    %header
      %h1 MyFlix Invitation
    %section.content.clearfix
      %p Hi #{@invite.name}
      
      %p From: #{@friend.full_name}
      %p Message: #{@invite.message}
      %p 
        Please go to the following link to create your own MyFlix Account.
        %a{href: url_for(register_url+"/#{@invite.token}")} Register

    %footer
      &copy 2014 MyFLiX
